<div class="todo_items shadow">
	<h1 class="items title grid">Items</h1>

	<div class="add_item grid">
		<form ng-submit="addItem(item)">
			<input class="input name" type="text" ng-model="item.name" placeholder="Type name here...">
			<input type="submit" class="button add" value="Add new">
		</form>

	</div>

	<div class="list_item" ng-repeat="item in items track by item.id" ng-click="showItem(item)">
		<div class="inner">

			<div class="text_with_bundle">
				<p class="name">{{item.name}}</p>

				<span class="bundle">{{item.commentCount}}</span>
			</div>

			<button class="delete" ng-click="delete(item.id)">Delete</button>
		</div>

		<div class="active" ng-show="activeItemId == item.id"></div>
	</div>
</div>
